.container {
    height: 100%;
    width: 100%;  
}
.content {
    height: 90%;
    width: 50%;
    margin: auto;
    margin-top: 3em;
    text-align: center;
    padding-bottom: 5%;
    background-color:#f1f1f1;
}
@media all and (max-width: 800px) {
    .content {
        width: 75%;
    }
  }